
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #646464;
    border-radius: 0.5rem;
}
